<div class="home_container">
  <app-card
    gameImg="https://abre.ai/gY2K"
    gameLabel="Edição Standard"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$129,99"
  ></app-card>
  
  <app-card
    gameImg="https://abre.ai/call-of-duty"
    gameLabel="Activision"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$299,00"
  ></app-card> 
  
  <app-card
    gameImg="https://abre.ai/assassins-crid"
    gameLabel="STANDARD EDITION"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$239,90"
  ></app-card>

  <app-card
    gameImg="https://abre.ai/the-last-of-us"
    gameLabel="Exclusive"
    gameType="DIGITAL | PS4"
    gamePrice="R$199,50"
  ></app-card>

  <app-card
    gameImg="https://image.api.playstation.com/vulcan/ap/rnd/202107/3100/DLgLjXPNm5aX4dJ3qvXOCKW4.jpg"
    gameLabel="Exclusive"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$249,50"
  ></app-card>

  <app-card
    gameImg="https://image.api.playstation.com/vulcan/ap/rnd/202307/2821/b4ebae4afc0321f0610103e08d3029d96bab8b4d1535411d.jpg"
    gameLabel="STANDARD EDITION"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$358,90"
  ></app-card>
</div>
 
