<div class="menu-bar_container">
    <div class="menu-bar_logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdAHItBUeFelxhEtHFeVOqiuFV87UZH1M5tg&usqp=CAU" width="170px" height="40px" alt="logo playstatio store">
    </div>
    <div class="menu-bar_item">
        <ul>
            <li><a href="https://www.youtube.com/@Diar.ioD3v" target="_blank">Youtube</a></li>
            <li><a href= "http://www.linkedin.com/in/vieira-fabricio/" target="_blank">Linkedin</a></li>
            <li><a href= "http://github.com/vieira-fabricio" target="_blank">Github</a></li>
        </ul>
    </div>
</div>
